aiohttp==3.8.1
aiosignal==1.3.1
appdirs==1.4.4
asgiref==3.8.1
async-timeout==4.0.3
attrs==24.2.0
BWTsearch==0.1.15
certifi==2024.7.4
charset-normalizer==2.1.1
colorama==0.4.6
dateutil-br==0.0.7
dateutils==0.6.6
dateutilsmit==0.0.1
Django==5.1.1
djangorestframework==3.15.2
dnazip-bioinfo==0.2
docker==7.1.0
exceptiongroup==1.2.2
fissix==24.4.24
frozenlist==1.4.1
github==1.2.7
github2==0.6.2
gradio-tunneling==0.4.0
httplib2==0.22.0
idna==3.7
iniconfig==2.0.0
multidict==6.0.5
npm==0.1.1
numpy==2.0.1
optional-django==0.1.0
packaging==24.1
pluggy==1.5.0
py-dateutil==2.2
pydivsufsort==0.0.15
pyparsing==3.1.2
pytest==8.3.2
pytest-github-actions-annotate-failures==0.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
requests==2.32.3
six==1.16.0
sixriver-ros-utils==0.0.6
sqlparse==0.5.1
tomli==2.0.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.2
vboxapi==1.0
yarl==1.9.4
